bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates

*.log

packages/
*.nupkg
*.snupkg

appsettings.json
appsettings.*.json

_ReSharper*/
*.DotSettings.user
.idea/

*.vs/
.vs/

.DS_Store
Thumbs.db
