.sidenav {
  width: 250px;
  background-color: #f5f5f5;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

mat-toolbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-sidenav-content {
  background-color: white;
}
